*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: #e3f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator{
  background-color: #3a4452;
  padding: 20px;
  border-radius: 20px;
}

.calculator form button, .calculator form input{
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

form .display{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input{
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}

form button.equal{
  width: 145px;
}

form button.operator{
  color: #33ffd8;
}